html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  .calendar {
    max-width:80%;
    height: 50%;
    margin-left: 10%;
    margin-top: 2%;
    color: '#053E5D';
  }

  .body-button{
    background-color: #053E5D;
  }

  .me-auto{
    padding-left: 70%;
    font-weight:500;
  
  }

  .cardLogin{
    width: 35%;
    margin-left: 32.50%;
    margin-top: 10%;
  }

  

  .MuiAvatar-root.MuiAvatar-circular{
    width: 20px;
    height: 20px;
    size: 10px;
    margin: 10px;
    font-size: small;
  }

  .addButtonFloat{
    background-color: #053E5D;
  }

  .editButtonFloat{
    background-color: #C90F0F;
  }

  .searchBarusers{
    width: 40%;
    margin-left: 50%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
  }

  .searchButton{
    background-color: #053E5D;
    

  }

  .profilepopoverbtn{
    border-radius: 100%;
    width: 30px;
    height: 35px;
  }

  .headerPopover{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .headBodyPopover{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .mailProfil{
    font-size: x-small;
  }

  .bodypopver{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .btnsPopover{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: -10%;
  }

  .modalFooter{
    display: block;
  }

  .mb-submit-close{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    
  }

  .submitBtn{
    margin-left: 10px;
  }

  .modalBody{
    display: flex;
    justify-content: center;
  }

  .counterContainer{
    background-color: rgba(240, 248, 255, 0.678);
    width: 60%;
    border-radius: 10px;
    top:-10px;
    
    
  }

  .carousel{
    top: 0;
  }
